@import "src/styles/global-classes";

.outerWrapper {
  max-width: 100%;

  .wrapper {
    min-width: 50px;
    height: 63px;
    border-radius: 4px;
    padding: 5px 16px;
    cursor: pointer;
    z-index: 1;

    .title {
      display: block;
      margin-bottom: 12px;
      line-height: 22px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      @extend %title-small;
    }

    .speakers {
      color: var(--color_text_dark);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      .speaker {
        @extend %title-tiny;
      }

      @extend %text-small;
    }
  }
}
