@import "src/styles/global-classes";

.outerWrapper {
  max-width: 100%;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 50px;
    height: 63px;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;

    .eventHeader {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      column-gap: 8px;
    }

    .live, .speakers, .title {
      margin-bottom: 0;
    }

    .live {
      background-color: white;
      border-radius: 9px;
      color: #ff5e32;
      display: inline-block;
      font-size: 9px;
      letter-spacing: 1px;
      padding: 4px;
      text-align: center;

      .liveNowIcon {
        margin-right: 4px;
      }
    }

    .title {
      flex: 1;
      line-height: 22px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      @extend %title-small;
    }

    .speakers {
      color: var(--color_text_dark);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      .speaker {
        @extend %title-tiny;
      }

      @extend %text-small;
    }
  }
}
