:root {
  --color_primary: #6D6E71;
  --color_primary50: #6D6E7150;
  --color_secondary: #1EAAA3;
  --color_secondary50: #1EAAA350;
  --color_accent: #FF5E32;
  --color_accent50: #FF5E3250;
  --color_text_dark: #4A4A4A;
  --color_text_med: #828282;
  --color_text_light: #FFFFFF;
  --color_gray_darker: #4A4A4A;
  --color_gray_dark: #999999;
  --color_gray_light: #DFDFDF;
  --color_gray_lighter: #F2F2F2;
}
