@import "colors";

.outerWrapper {
  position: relative;
  min-height: 300px;

  :global(.ajax-loader-container) {
    > div {
      top: 40% !important;
    }
  }

  .header {
    padding: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;

    .title {
      color: var(--color_text_dark);
      font-size: 16px;
      font-weight: bold;
    }
  }

  .searchWrapper {
    margin: 10px 0;
  }
  
  .innerWrapper {
    color: var(--color_text_dark);
    padding-top: 0.7em;

    &.boxed {
      padding: 0.7em;
      border: 1px solid var(--color_primary_contrast);
    }

    .eventList {
      display: flex;
      overflow: hidden;
      flex-direction: column;
    }


  }

  .viewNav {
    background-color: var(--color_primary_contrast);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;

    .viewSelect {
      width: 100px;
      align-self: flex-start;
      margin-top: 5px;

      div {
        .viewSelectDD {
          div {
            div {
              color: var(--color_text_dark) !important;
              cursor: pointer;
            }
          }
        }
      }
    }

    .viewOptions {
      flex: auto;

      .groupingNav {
        background: none;
        border: none;
        margin-bottom: 0;

        :global(.container-fluid) {
          padding: 0;
        }

        :global(.nav) {
          float: right !important;
          margin-right: 0;

          &>li {
            float: left;
          }
        }

        .dropdown {
          a {
            color: var(--color_text_dark) !important;
          }

          ul {
            min-width: 100px;
            right: 0;
            left: unset;

            a {
              padding: 3px 10px;
            }
          }
        }
      }
    }
  }
}

.link {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

@media(max-width: 768px) {
  .outerWrapper {
    .viewOptions {
      .groupingNav {
        :global(.dropdown) {
          ul {
            position: absolute;
            float: none;
            margin-top: 0;
            background-color: white;
            border: 1px solid lightgray;
            width: 100%;
          }
        }
      }
    }
  }
}

@media(min-width: 1440px) {}