@import "../../../styles/colors";
@import "../../../styles/global-classes";

.wrapper.withPic {
  display: flex;
  padding-bottom: 10px;
  justify-content: left;
  overflow: auto;

  &::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar
  {
    width: 3px;
    height: 3px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb
  {
    background-color: gray;
  }

  .arrow {
    position: absolute;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    color: white;
  }

  .speaker {
    height: 55px;
    margin: 0 15px 15px 0;
    border-radius: 4px;
    display: flex;
    cursor: pointer;
    flex: 1 0 auto;

    .picWrapper {
      height: 100%;
      width: 50px;

      .pic {
        height: 100%;
        width: 100%;
        background-size: cover;
        border-radius: 50%;
      }
    }

    .nameWrapper {
      background-color: white;
      height: 100%;
      padding: 5px;
      border-radius: 0 4px 4px 0;
      overflow: hidden;
      flex: 1 0;
      min-width: 150px;
      max-width: 300px;
    }
  }
}

.wrapper {
  .name {
    @extend %title-tiny;
  }

  .job {
    font-size: 10px;

    .company {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-transform: uppercase;
      font-size: inherit;

      @extend %text-small;
    }
  }

}