@import "src/styles/colors";
@import "src/styles/global-classes";

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}


.wrapper {
  width: 400px;
  color: #5e5f62;
  position: absolute;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 12px;
  z-index: 2;
  background-color: white;
  animation-name: fadeIn;
  animation-duration: 1s;

  @media(max-width: 768px) {
    top: 10px !important;
    left: 10px !important;
    width: calc(100vw - 20px);
  }

  .header {
    display: flex;
    justify-content: space-between;

    .countdown {
      font-size: 12px !important;
      min-width: 100px;
      position: relative;
      margin-bottom: 14px;

      i {
        font-size: 12px !important;
      }
    }

    .closeButton {
      font-size: 16px;
      line-height: 10px;
    }
  }
  .eventInfo {
    font-size: 12px;

    .locationWrapper {
      margin-bottom: 14px;

      @extend %title-tiny;
    }

    .titleWrapper {
      display: flex;
      margin-bottom: 14px;

      .colorBall {
        height: 8px;
        width: 8px;
        border-radius: 50%;
        position: relative;
        top: 4px;
        margin-right: 8px;
      }

      .title {
        width: calc(100% - 10px);

        @extend %title-med;

        a {
          @extend %title-med;
        }
      }
    }

    .description {
      margin-bottom: 16px;

      @extend %text-small;
    }

    .speakersWrapper {
      & > div {
        font-weight: bold;
        margin-bottom: 10px;
      }

      .speakers {
        max-width: 100%;
      }
    }
  }

  .circleButton {
    position: relative;
    height: 34px;

    button {
      top: 0;
      right: 0;
    }
  }


}