@import "src/styles/colors";
@import "src/styles/global-classes";

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}


.wrapper {
  width: 400px;
  color: #5e5f62;
  position: absolute;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 12px;
  z-index: 2;
  background-color: white;
  animation-name: fadeIn;
  animation-duration: 1s;

  @media(max-width: 768px) {
    top: 0 !important;
    left: 0 !important;
    width: 100vw;
    position: absolute;
    height: 100vh;
    overflow: auto;
  }

  .header {
    display: flex;
    justify-content: space-between;

    .countdown {
      font-size: 12px !important;
      min-width: 100px;
      position: relative;
      margin-bottom: 14px;

      i {
        font-size: 12px !important;
      }
    }

    .closeButton {
      background: transparent;
      border: 0;
      font-size: 16px;
      line-height: 10px;

      @media(max-width: 768px) {
        font-size: 28px;
      }
    }
  }
  .eventInfo {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 60px);

    .locationWrapper {
      margin-bottom: 14px;

      @extend %title-tiny;
    }

    .title {
      width: 100%;
      margin-bottom: 8px;

      @extend %title-med;

      a {
        @extend %title-med;
      }
    }

    .track {
      .colorBall {
        height: 8px;
        width: 8px;
        border-radius: 50%;
        position: relative;
        top: -1px;
        margin-right: 10px;
        display: inline-block;
      }

      @extend %title-tiny;
    }

    .description {
      margin: 20px 0 16px;
      flex-grow: 1;

      @extend %text-small;
    }

    .speakersWrapper {
      & > div {
        font-weight: bold;
        margin-bottom: 10px;
      }

      .speakers {
        max-width: 100%;
      }
    }
  }

  .circleButton {
    position: relative;
    height: 34px;
    margin-top: 10px;

    button {
      top: 0;
      right: 0;
    }

    @media (max-width: 767px) {
      margin-bottom: 50px;
    }
  }


}