.wrapper {
  display: flex;
  position: relative;

  .timeWrapper {
    width: 83px;
    color: #dcdcdc;

    .time {
      position: relative;
      top: -10px;
    }
  }

  .eventsWrapper {
    flex: 1;
    border-top: 1px solid #E5E5E5;
    padding: 5px 5px 5px 25px;
    display: flex;
  }
}