@import "src/styles/colors";

.wrapper {
  position: relative;
  margin-bottom: 10px;
  height: auto;
  border: 1px solid var(--color_primary_contrast);

  .imageWrapper {
    height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid lightgray;

    img {
      height: 150px;
      width: 100%;
      object-fit: cover;
      flex: none;
    }

    i {
      font-size: 120px;
      color: lightgray;
      margin: auto;
    }
  }

  .countdown {
    font-size: 12px !important;
    min-width: 100px;
    position: relative;
    top: 10px;
    left: 10px;

    i {
      font-size: 12px !important;
    }
  }

  .header {
    position: relative;
    padding: 10px 8px;
    min-height: 110px;
    display: flex;
    flex-direction: row;

    .eventImage {
      width: 160px;
      margin-right: 15px;

      img {
        width: 100%;
      }

      i {
        font-size: 105px;
        text-align: center;
      }
    }

    .eventInfo {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    :global(.items-enter) {
      height: 0;
    }

    :global(.items-enter.items-enter-active) {
      height: auto;
      transition: opacity 1000ms ease-in;
    }

    :global(.items-leave) {
      height: auto;
    }

    :global(.items-leave.items-leave-active) {
      height: 0;
      transition: opacity 1000ms ease-in;
    }

    &.open {
      cursor: zoom-out;
    }

    &.closed {
      cursor: zoom-in;
    }

    .locationWrapper {
      letter-spacing: 1px;
      font-weight: bold;
      font-size: 11px;
    }

    .title {
      font-size: 20px;
      margin: 5px 0;
      line-height: 22px;
      height: 46px;
      width: 90%;
      padding-right: 50px;
      font-weight: bold;

      a {
        color: var(--color_text_dark);
        display: inline-flex;        
      }
    }

    .footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .leftCol {
        display: flex;
        flex: 1;
        flex-direction: column;

        .speakerNames {
          font-weight: bold;
          font-size: 11px;
          position: relative;
          padding-right: 40px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          margin-top: auto;
        }

        .trackWrapper {
          font-weight: bold;
          font-size: 11px;
          position: relative;
          padding-right: 40px;
          margin-top: auto;
        }
      }

      .rightCol {
        .attendeesWrapper {
          font-size: 10px;
          text-align: right;
        }

        .tagsWrapper {
          .tag {
            background-color: #f0f0f0;
            border-radius: 10px;
            margin-left: 5px;
            padding: 4px 8px;
            color: gray;
            text-transform: uppercase;
            font-size: 9px;
            font-weight: 600;
          }
        }
      }
    }

    .circleButton {
      button {
        top: 10px;
        right: 10px;
      }
    }

  }

  .detailWrapper {
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    max-height: 500px;

    &.hidden {
      max-height: 0;
    }
  }

  .desc-enter {
    height: 0px;
  }

  .desc-enter.desc-enter-active {
    height: 100px;
    -webkit-transition: height .3s ease;
  }

  .desc-leave.desc-leave-active {
    height: 0px;
    -webkit-transition: height .3s ease;
  }

  .detailsButton {
    display: none;

    &.show {
      display: block;
    }

    button {
      color: grey;
      font-size: 14px;
      position: absolute;
      height: 40px;
      width: 40px;
      bottom: -5px;
      right: 50%;
      border-radius: 40px;
      text-align: center;
      border-color: transparent;
      padding: 0;
      background-color: white;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.2);
      z-index: 10;
    }
  }
}

.wrapper.placeholder {
  color: lightgray;
  font-size: 20px;
  text-align: center;
  padding-top: 30px;
  height: 150px;
}

