@import "../../styles/fonts";
@import "../../styles/global-classes";

.wrapper {
  display: flex;
  flex-direction: row;

  @extend %font-regular;

  .button {
    i {
      margin-right: 5px;
    }

    &.cal {
      margin-right: 8px;

      @extend %button-small-outline;
    }

    &.share {
      @extend %button-small-outline;
    }

    &:global(.active) {
      background-color: var(--color_gray_darker) !important;
      color: var(--color_text_light) !important;
    }

    @extend %button-toggle;
  }

  .divider {
    display: inline-flex;
    border-right: 1px solid lightgray;
    padding-right: 20px;
    margin-right: 20px;
  }
}