@import "../../styles/fonts";
@import "../../styles/global-classes";

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;

  @extend %font-regular;

  .buttonGroup {
    display: flex;
  }

  .button {
    box-shadow: none !important;
    display: inline-flex;
    align-items: center;

    input {
      display: none;
    }

    i {
      margin-right: 5px;
    }

    &.cal {
      margin-right: 8px;

      @extend %button-small-outline;
    }

    &.share {
      @extend %button-small-outline;
    }

    &:focus,
    &:hover,
    &:global(.active) {
      background-color: var(--color_gray_darker) !important;
      border-color: var(--color_gray_darker) !important;
      color: var(--color_text_light) !important;
    }

    @extend %button-toggle;
  }

  .liveNowBtn {
    margin-left: 8px;
    margin-right: auto;
    width: auto;

    @media screen and (max-width: 690px) {
      margin: 10px auto 0;
      width: 100%;
    }

    &:global(.disabled) {
      background-color: lightgrey !important;
      border-color: lightgrey !important;
      color: grey !important;
    }
  }

  .divider {
    display: inline-flex;
    border-right: 1px solid lightgray;
    padding-right: 20px;
    margin-right: 20px;
  }

  @media(max-width: 690px) {

    flex-direction: column;
    width: 100%;

    .timezoneBtn {
      width: 100% !important;
    }

    .buttonGroup {
      margin-bottom: 20px;
      flex-direction: column;
      width: 100%;

      .firstGroup {
        margin-top: 10px;

        .button {
          width: calc(50% - 5px);
          height: 50px;
          line-height: 36px;
        }
      }

      .secondGroup div {
        margin-top: 10px;
        width: 100%;

        .button {
          width: 50%;
          height: 50px;
          line-height: 36px;
        }
      }
    }

    .divider {
      display: none;
    }
  }
}